<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            text-align: center;
        }

        .container {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            margin-top: 20px;
        }

        h1 {
            color: #333;
        }

        .otp {
            font-size: 24px;
            font-weight: bold;
            color: #007bff;
        }

        .message {
            font-size: 16px;
            color: #777;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>OTP Confirmation</h1>
        <p class="message">Here is your OTP:</p>
        <p class="otp"><%= otp %></p>
    </div>
</body>

</html