<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: #f4f4f4;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        form {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            width: 300px;
        }

        label {
            font-weight: bold;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            /* margin-bottom: 10px; */
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button[type="submit"] {
            background-color: #007BFF;
            color: #fff;
            border: none;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
        }

        button[type="submit"]:hover {
            background-color: #0056b3;
        }

        .red {
            margin-bottom: 10px;
            color: red;
        }

        .account a {
            text-decoration: none;
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: green;
        }

        .otp {
            display: flex;
            width: 100%;
        }

        .otpinput {
            width: 80%;
        }

        .otpbtn {
            background-color: #007BFF;
            color: #fff;
            border: none;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
            width: 20%;
        }
    </style>
</head>

<body>
    <h1>Signup</h1>
    <div class="container">
        <form action="/user/signup" method="POST">
            <% if (error) { %>
                <p class="red" id="red">
                    <%= error %>
                </p>
                <% } %>
                    <p class="red" id="msg"></p>
                    <label for="username">Enter Username: </label>
                    <input type="text" name="username" id="username" required>
                    <label for="email">Enter Email: </label>
                    <input type="email" name="email" id="email" required>
                    <label for="otp">Enter OTP:</label>
                    <div class="otp">
                        <input type="text" name="OTP" id="OTP" class="otpinput">
                        <button type="button" id="otpbtn" class="otpbtn">Send</button>
                    </div>
                    <label for="password">Enter Password: </label>
                    <input type="password" name="password" id="password">
                    <label for="password">Confirm Password: </label>
                    <input type="password" name="confirmpassword" id="confirmpassword">
                    <div class="red" id="check"></div>
                    <input type="checkbox" name="show" id="show" onclick="showpassword()">
                    <label for="show">showpassword</label></br></br>
                    <button type="submit">Submit</button>
                    <div class="account"><a href="/login" target="_self">Already Have an Account?</a></div>
        </form>
    </div>
    <script>
        const pass = document.getElementById('password');
        const confirmpass = document.getElementById('confirmpassword');
        const checking = document.getElementById('check');

        confirmpass.addEventListener('input', () => {
            if (confirmpass.value === pass.value) {
                checking.textContent = "Passwords matches";
            } else {
                checking.textContent = "Passwords do not match";
            }
        });
        function showpassword() {
            const showpass = document.getElementById('password')
            const confirmpass = document.getElementById('confirmpassword');
            if (showpass.type == 'password') {
                showpass.type = 'text'
                confirmpass.type = 'text'
            } else {
                showpass.type = 'password'
                confirmpass.type = 'password'
            }
        }



        const otpbtn = document.getElementById('otpbtn')
        otpbtn.addEventListener('click', () => {
            const email = document.getElementById('email').value
            const name = document.getElementById('username').value
            fetch('/sendotp/',
                {
                    method: "POST",
                    body: JSON.stringify({
                        "username": `${name}`,
                        "email": `${email}`,
                        "type": "new"
                    }),
                    headers: { 'Content-Type': 'application/json' }
                }
            ).then(response => response.json())
                .then(data => {
                    const clientmsg = document.getElementById('msg')
                    clientmsg.textContent = data.msg
                })
        })

        document.getElementById('OTP').addEventListener('blur', () => {
            const otp = document.getElementById('OTP').value
            const email = document.getElementById('email').value
            const name = document.getElementById('username').value
            fetch('/sendotp/',
                {
                    method: "POST",
                    body: JSON.stringify({
                        "username": `${name}`,
                        "email": `${email}`,
                        "otp": `${otp}`,
                        "type": "verify"
                    }),
                    headers: { 'Content-Type': 'application/json' }
                }
            ).then(response => response.json())
                .then(data => {
                    const clientmsg = document.getElementById('msg')
                    clientmsg.textContent = data.msg
                })
        })



        var button = document.getElementById("otpbtn");
        var count = 0;
        var isCounting = false;

        button.addEventListener("click", function () {
            if (!isCounting) {
                isCounting = true;
                button.disabled = true;
                count = 0;
                button.textContent = "0";

                var countdownInterval = setInterval(function () {
                    count++;
                    button.textContent = count;

                    if (count >= 60) {
                        clearInterval(countdownInterval);
                        button.textContent = "Try Again"
                        button.disabled = false;
                        isCounting = false;
                    }
                }, 1000);
            }
        });


    </script>
</body>

</html>